build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
*.db
*.db.wal
tpch-umbra-flat-cte-list.txt
.cache/
benchmark/sqlstorm/lpts_sqlstorm_tpch_sf*.csv